@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe

<h2>Recipe Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h3>
<h3>@Html.DisplayNameFor(model => model.Instructions): @Html.DisplayFor(model => model.Instructions)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This Recipe does not belong to any categories</p>
}
else
{
  <h4>Categories the Recipe belongs to:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Category.Name</li>
    @using (Html.BeginForm("DeleteCategory", "Recipes"))
    {
      @Html.Hidden("joinId", @join.CategoryRecipeId)
      <input type="submit" value="Delete"/>
    }
  }
  </ul>
}

@if(ViewBag.recIngreds.Count == 0)
{
  <p>This Recipe doesn't have any ingredients yet</p>
}
else
{
  <h4>Ingredients for this Recipe</h4>
  <ul>
    @foreach(var recIng in ViewBag.recIngreds)
    {
      <li>@recIng.Ingredient.Name -- @recIng.Amount</li>
      <p>@Html.ActionLink("Edit Amount", "EditAmount", new { id = recIng.RecipeIngredientId })</p>
      @* @using (Html.BeginForm("EditAmount", "Recipes"))
      {
        @Html.HiddenFor(recIng => recIng.RecipeIngredientId)
        @Html.Hidden("id", @recIng.RecipeIngredientId)
        <input type="submit" value="Save"/>
      } *@

      @* @using (Html.BeginForm("DeleteIngredient", "Recipes"))
      {
        @Html.Hidden("ingId", @ing.IngredientId)
        <input type="submit" value="Delete"/>
      } *@
    }
  </ul>
}

<p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add an Ingredient", "AddIngredient", new {id = Model.RecipeId })</p>

<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Delete Recipe", "Delete", new { id = Model.RecipeId })</p>