@{
  Layout = "_Layout";
}

@model RecipeBox.Models.RecipeIngredient

<h4>Edit the amount of this ingredient: @Html.DisplayFor(model => model.Ingredient.Name)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.RecipeIngredientId)

  @Html.Label("Rewrite amount") 
  @Html.TextBox("amount")

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>