@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Ingredient

<h2>Ingredient Editor</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.IngredientId)
  @Html.HiddenFor(model => model.RecipeId)

  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>

